html body {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  margin: auto;
}

.card {
  width: 175px;
  height: 250px;
  background: url('../giraffe/giraffe-pattern.jpg');
  border-radius: 7px;
  margin-right: 10px;
  margin-top: 30px;
  display: inline-block;
}
.card img {
  display: none;
  /*opacity: 0;*/
}

.backside {
  width: 175px;
  height: 250px;
  background: lightblue; 
  border-radius: 7px;
  margin-right: 10px;
  margin-top: 30px;
  display: inline-block;
  /*opacity: 1;*/
}
.backside img {
  display: initial;
  /*opacity: initial;*/
}

img {
  width: 175px;
  height: 250px;
}

/*.timer{
  width: 100px;
  height:100px;*/
/*
.scoreboard {
  width: 200px;
  height:200px;
  float:right;
  margin: auto;
}*/

.matched {
  opacity: 0.5;
}
.welcomepage {
  background: url('../giraffe/background.jpg');
  background-color: lightblue;
  background-size: cover;
  opacity: 0.55;
  width:100%;
  height: 650px;
  display: inline-block;
}

h1 {
  font-size: 100px;
  text-align: center;
  color: white;
  margin-top: 0;
  padding-top: 150px;
}

.scoreboard .timer {
  display: inline-block;
}

.scoreboard {
  width: 100%;
  height: 100%;
  float:left;

}
#board {
  margin-top: 50px;
  width: 100%;
  height:100%;
  display: inline-block;
  background: lightblue;
}

button {
  font-size: 14px;
  border-radius: 5px;
  font-weight: bolder;
  background-color: white;
  padding: 7px 45px;
  margin: 50px;
  opacity: 1;
}
a {
  text-decoration: none;
  color: black;
}
